<div data-role="view" data-title="Home View" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow">
    <!-- START_CUSTOM_CODE_homeView -->
    <!-- END_CUSTOM_CODE_homeView -->

<!-- application views will be rendered here -->
        <!--form method="post" action="">
          <ul data-role="listview" data-style="inset">
              <li>
                  <label>
                      Username:
                      <input type="text" name="usernamel" data-bind="value: usernamel">
                  </label>
              </li>
              <li>
                  <label>
                      Password:
                      <input type="password" name="passwordl" data-bind="value: passwordl">
                  </label>
              </li>
              <li>
                  <button data-bind="click: seleccionarL" data-role="button">Seleccionar</button>
              </li>
          </ul>
        </form> -->
</div>